* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --very-dark: hsl(300, 43%, 22%);
    --soft-pink:  hsl(333, 80%, 67%);
    --dark-gray: hsl(303, 10%, 53%);
    --light-gray: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .top {
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .bottom {
        display: block;
        position: fixed;
        bottom: 0;
        right: 0;

    }

   @media only screen and (min-width: 600px) {
    max-height: 100vh;
        .top {
            width: 500px;
            height: auto;
        }

        .bottom {
            width: 80%;
            height: auto;

            img {
                width: 100%;
                height: 100;
            }
        }
   }
}
.container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    min-height: 100vh;
    height: auto;
    align-items: center;
    margin: 0 1em 0 1em;
    position: relative;
    top: -10em;
    z-index: 1;


    .upper {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        align-items: center;
        font-family: 'League Spartan', sans-serif;
        font-weight: 400;

        h1 {
            font-size: 1.8em;
            font-weight: 700;
            color: var(--very-dark);
            margin: 0 1em 0 1em;
            text-align: center
        }        
        p {
            font-size: 1em;
            color: var(--dark-gray);
            line-height: 1.4em;
            text-align: center;
            margin-top: 0.5em;
            margin-bottom: 0.5em;
        }

        .rating-plus {
            width: 100%;

            .rate {
                display: flex;
                flex-direction: column;
                width: 100%;
                align-items: center;
                justify-content: center;
                padding: 0.6em;
                background: var(--light-gray);
                margin-top: 0.7em;
                border-radius: 0.3em;
    
                span {
                    margin-left: 0.2em;
                }
    
                h3 {
                    color: var(--very-dark);
                    font-size: 0.8em;
                    margin-top: 0.2em;
                }
    
            }
        }

    }

    .lower {
        display: flex;
        flex-direction: column;
        font-family: 'League Spartan', sans-serif;
        width: 100%;
        height: auto;
        align-items: center;

        .box {
            display: flex;
            flex-direction: column;
            height: auto;
            width: 100%;
            background: var(--very-dark);
            border-radius: 0.3em;
            margin-top: 1em;

            .span {
                display: flex;
                align-items: center;
                margin: 1.4em 1em 1em 1em;

                img {
                    width: 3em;
                    height: auto;
                    border-radius: 50%;
                }

                .heading {
                    margin-left: 1.3em;

                    h3 { 
                        color : var(--white);
                        font-size: 0.9em;
                    }
                    h4 { 
                        color : var(--soft-pink);
                        font-size: 0.9em;
                        margin-top: 0.1em;
                    }
                }
            }

            p {
                margin: 0 1em 1em 1em;
                color: var(--white);
                line-height: 1.3em;
                font-size: 1em;
            }
        }
    }

    @media only screen and (min-width: 600px) {
        max-height: 100vh;
        min-height: auto;
        margin:  0 8em 0 8em;
        top: -15em;

        .upper {
            flex-direction: row;
            width: 100%;
            justify-content: space-between;

            .body {
                width: 20em;

                h1 {
                    font-size: 2.4em;
                    margin: 0;
                    text-align: left;
                }        
                p {
                    font-size: 0.9em;
                    text-align: left;
                    margin-top: 0;
                    margin-bottom: 0;
                }
            }
            .rating-plus {
                width: 30em;;

                .rate {
                    width: 80%;
                    padding: 0.4em;
                    flex-direction: row;
                    justify-content: space-around;
                }

                .rating1 {
                    margin-left: 0;
                }

                .rating2 {
                    margin-left: 3em;
                }
                .rating3 {
                    margin-left: 6em;
                }

            }
        }

        .lower {
            flex-direction: row;
            justify-content: space-between;
            margin-top: 2em;

            .box {
                width: 20em;
                margin-left: 1em;
            }
            .align2 {
                margin-top: 3em;
            }
            .align3 {
                margin-top: 5em;
            }
        
        }
    }
}